<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome</title>
          {% load staticfiles %}
        <link rel="stylesheet" type = "text/css" href="{% static 'login/css/style.css' %}"> 
    </head>
    <body>
        <header>
            <h3>Test App</h3>
            <a href="/">Home</a>
            <a href="/signin">Sign in</a>
        </header>
        <form id="login" action='/logprocess' method='POST'>
            <h2>Login:</h2>
            {% if messages %}
                {% for message in messages %}
                    {% if "login" in message.tags %}
                        <p>{{message}}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            Email Address: <input type = "text" name="email" value="email">
            Password: <input type="password" name="password" value="password">
            <input type="submit" value="Submit"> 
        </form><br>
        <a href="/registration">Don't have an account? Register</a>
    </body>
</html>