<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome</title>
          {% load staticfiles %}
        <link rel="stylesheet" type = "text/css" href="{% static 'login/css/style.css' %}"> 
    </head>
    <body>
        <header>
            <h1>Welcome!</h1>
        </header>
         <form id="register" action='/register' method='POST'>
            <h2>Register:</h2>
            {% if messages %}
                {% for message in messages %}
                    {% if "register" in message.tags %}
                        <p>{{message}}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            First Name: <input type="text" name="first_name" value="first">
            Last Name: <input type="text" name="last" value="last">
            Email Address: <input type = "text" name="email" value="email">
            Password: <input type="password" name="password" value="password">
            Confirm Password: <input type="password" name="confirm" value="password">
            <input type="submit" value="Submit"> 
        </form><br>
        <a href="http://localhost:8000/login">Already have an account? Login</a>
    </body>